//** Put here all the CSS code you want to resolve the challenge **//

.App {
  font-family: sans-serif;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  height: 100px;
  background: lightgray;
  flex-direction: row-reverse;
}

.button {
  background: grey;
  color: white;
  padding: 22px 20px;
  border-radius: 18px;
}

.bottom-panel {
  background: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
